{
    "run_type": "server",
    "local_addr": "0.0.0.0",
    "local_port": 6666,
    "remote_addr": "imququ.com",
    "remote_port": 80,
    "password": [
        "94nibaBa"
    ],
    "ssl": {
        "cert": "/root/trojan-go/ca.crt",
        "key": "/root/trojan-go/ca.key"
    },
    "router": {
        "enabled": true,
        "block": [
            "geoip:private"
        ],
        "geoip": "/root/trojan-go/geoip.dat",
        "geosite": "/root/trojan-go/geosite.dat"
    }
}
